#sideNavTitle {
  font-size: 24px;
  border-bottom: 1px gray solid;
}

.patient {
  font-size: 18px;
}

#mainContainer {
  height: 100%;

}

.page-header {
  margin-top: 0px;
}

.leftPanel {
  height: 100%;
  width: 100%;
}

.rightPanel {
  height: 100%;
  width:100%;
}

.navbar-right {
  font-size: 20px;
  margin-top: 14px;
}

.patientNavbar {
  font-size: 24px;
  margin-top: 12px;
  margin-right: 10px;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0px;
}

.navbar-brand {
  margin-top: 9px;
  font-size: 42px;
  border-right: 1px gray solid;
  margin-right: 25px;
}


/* SIDEBAR STUFF */
html, body {
  height: 100%;
}

.icon-bar {
  margin-bottom: 6px;
  margin-top: 6px;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  min-height: 40px;
  min-width: 30px;
  padding: 2 2 2 2;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 0 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 1500px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}

/* END OF SIDEBAR STUFF */