#title {
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#first-graph {
  font: 10px sans-serif;
  height: 100%;
  width: 100%;
}

/*input[type=text]{
width:76%;
border:3px solid rgb(200, 200, 207);
height:23px;
padding:5px;
border-radius:3px;
margin:5px 10px 20px 35px;
}*/
.startdate-picker {
  position: relative;
  left: 5%;
  pointer-events: none;
  width: 70%;
}


.sleep-graph {
  order: 1;
}

.mood-graph {
 order: 2; 
}

.anxiety-graph {
  order: 3;
}
.download-button {
  font: 10px sans-serif;
  float: right;
  z-index: 10000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  stroke: black;
  fill: none;
  stroke-width: 0.75px;
}

.line.line0 {
  stroke: steelblue;
}

.line.line1 {
  stroke: indianred;
}

.line.line2 {
  stroke: #92CCA6;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
}

.focus circle.y0 {
  stroke: blue;
}

.focus circle.y1 {
  stroke: red;
}

.focus circle.y2 {
  stroke: green;
}

.focus line {
  stroke: black;
  opacity: .5;
}

.focus line.x {
  stroke-dasharray: 3 3;
}

.focus line.y0 {
  stroke: steelblue;
  stroke-dasharray: 3 3;
  opacity: .5;
}

.focus line.y1 {
  stroke: indianred;
  stroke-dasharray: 3 3;
  opacity: .5;
}

.focus line.flag {
  stroke: red;
  opacity: 1;
}

.focus line.y2 {
  stroke: green;
  stroke-dasharray: 3 3;
  opacity: .5;
}
.focus line.annotationBox {
  stroke: black;
  stroke-width: 2;
  opacity: 1;
  stroke-linecap: round;
}

.focus rect.annotationBox {
  stroke: black;
  fill-opacity: .125;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 64px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;  
  pointer-events: none;               
           
}

div.new-annotation {
 position: absolute;           
  text-align: center;           
  width: 240px;                  
  height: 128px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px; 
  pointer-events: none;                
}