<div class="row">
	<div class="col-xs-9 col-lg-9">
		<div class="row" id="patient-name">
      <p><h1>Bio</h1></p>
    </div>
  </div>
  <div class="col-xs-6 col-lg-6" id="patient-picture">
    <img src="./images/goodall.jpg" class="img-responsive" alt="Responsive Image"></img>
  </div>
	<div class="col-xs-6 col-lg-6">
    <div class="row" id="patient-info">
      <p>
        <h6 id='Height' class="lead">Height: 5' 3''</h6><br>
        <h6 id='Weight'>Weight: <small>110 lbs</small></h6><br>
        <h6 id='BP'>Blood Pressure: <small>110/70</small></h6><br>
        <h6 id='HR'>Heart Rate: <small>58bpm</small></h6><br>
      </p>
    </div>
	</div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <p>
      <h6 id='RecentUpdates'>Recent Updates:</h6><br>
      Jane has sleep apnea
    </p>
  </div>
</div>
<div class="row" >
  <div class="col-xs-12 col-lg-12">
    <p>
      <h6 id='Overview'>Overview:</h6><br>
      Jane was perscribed intranasal corticosteroid medicine on
12/25/2015. She has been adhering to the medicine rigorously.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <button type="button" class="btn btn-primary addNewFormBtn" data-toggle="modal" data-target="#assignFormModal">Assign New Form</button>
  </div>
</div>


