<div class="row">
	<div class="col-xs-9 col-lg-9">
		<div class="row" id="patient-name">
      <p><h1>Bio</h1></p>
    </div>
  </div>
  <div class="col-xs-6 col-lg-6" id="patient-picture">
    <img src="./images/goodall.jpg" class="img-responsive" alt="Responsive Image"></img>
  </div>
	<div class="col-xs-6 col-lg-6">
    <div class="row" id="patient-info">
      <p>
        <p><span id='Height' class="text-primary">Height:</span> 5' 3''</p>
        <p><span id='Weight' class="text-primary">Weight:</span>110 lbs</p>
        <p><span id='BP' class="text-primary">Blood Pressure:</span>110/70</p>
        <p><span id='HR' class="text-primary">Heart Rate: </span>58bpm</p>
      </p>
    </div>
	</div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <p>
      <h6 id='RecentUpdates'>Recent Updates:</h6>
      Jane has sleep apnea
    </p>
  </div>
</div>
<div class="row" >
  <div class="col-xs-12 col-lg-12">
    <p>
      <h6 id='Overview'>Overview:</h6>
      Jane was perscribed intranasal corticosteroid medicine on
12/25/2015. She has been adhering to the medicine rigorously.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <button type="button" class="btn btn-primary addNewFormBtn" data-toggle="modal" data-target="#assignFormModal">Assign New Form</button>
  </div>
</div>


