<div class="row">
	<div class="col-xs-9 col-lg-9">
		<div class="row" id="patient-name">
      <p><h1>Bio</h1></p>
    </div>
  </div>
  <div class="col-xs-6 col-lg-6" id="patient-picture">
    <img src="./images/marshall.jpg" class="img-responsive" alt="Responsive Image"></img>
  </div>
	<div class="col-xs-6 col-lg-6">
    <div class="row" id="patient-info">
      <p>
        <span class="text-primary">Height:</span> 5' 10''<br><br>
        <span class="text-primary">Weight:</span> 180 lbs<br><br>
        <span class="text-primary">Blood Pressure:</span> 120/70<br><br>
        <span class="text-primary">Heart Rate:</span> 68bpm<br><br>
      </p>
    </div>
	</div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <p>
      <h6>Recent Updates:</h5>
      Marshall suffers from severe depression caused by his recent divorce.
    </p>
  </div>
</div>
<div class="row" >
  <div class="col-xs-12 col-lg-12">
    <p>
      <h6>Overview:</h5>
      Marshall has started taking medicine A on 12/6/2014.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <button type="button" class="btn btn-primary addNewFormBtn" data-toggle="modal" data-target="#assignFormModal">Assign New Form</button>
  </div>
</div>


